<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193837921579-2i86rmvlgh825n9ecrr95thtpr62n1lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193837921579-2i86rmvlgh825n9ecrr95thtpr62n1lr</string>
	<key>API_KEY</key>
	<string>AIzaSyBkiod8cRxyBjOQfNKpkrz9U0iY5JI_Sqk</string>
	<key>GCM_SENDER_ID</key>
	<string>193837921579</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwan.HowlTalk2</string>
	<key>PROJECT_ID</key>
	<string>howltalk2-9697d</string>
	<key>STORAGE_BUCKET</key>
	<string>howltalk2-9697d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:193837921579:ios:b9fd44a28991a639</string>
	<key>DATABASE_URL</key>
	<string>https://howltalk2-9697d.firebaseio.com</string>
</dict>
</plist>
