<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570199843462-584f14gjvj90qbrnh2h52b1jruqd2hpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570199843462-584f14gjvj90qbrnh2h52b1jruqd2hpa</string>
	<key>API_KEY</key>
	<string>AIzaSyCOxhQLr8bXocRl2sJzyjbXuhTsVGKsTls</string>
	<key>GCM_SENDER_ID</key>
	<string>570199843462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiwan.HowlTalk</string>
	<key>PROJECT_ID</key>
	<string>howltalk-ec471</string>
	<key>STORAGE_BUCKET</key>
	<string>howltalk-ec471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570199843462:ios:ff7fae39b4a09929</string>
	<key>DATABASE_URL</key>
	<string>https://howltalk-ec471.firebaseio.com</string>
</dict>
</plist>